body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#cabecalho {
    height: 11vh;
}

footer {
    margin-top: auto;
    background-color: #043816;
    color: white;
    height: 11vh;
}

#barra-lateral {
    background-color: #00812e;
    color: white;
    height: 78vh;
}

#conteudo-principal {
    background-color: aquamarine;
    height: 78vh;
}

#menu-lateral {
    display: grid;
    grid-template-columns: 1fr 7fr;
}

@media screen and (max-width: 1200px) {
    #barra-lateral {
        width: 0vw;
    }
    #conteudo-principal {
        width: 100vw;
    }
}