body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

#barra-lateral {
    width: 15vw;
    background-color: #00812e;
    color: white;
    display: inline-block;
}

#conteudo-principal {
    width: 85vw;
    display: inline-block;
}

@media screen and (max-width: 600px) {
    #barra-lateral {
        width: 0vw;
    }
    #conteudo-principal {
        width: 100vw;
    }
}