body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.nav-item {
    margin: 0 1rem;
}

a.nav-link.active {
    color: #22d64d !important;
}

#bannerTopo {
    background-image: url('../img/nutricionista.webp');
    background-attachment: fixed;
}

#fundoFood {
    background-image: url('../img/food.png');
    background-position: center;
    background-repeat: no-repeat;
}

#bannerTopoCover {
    background-color: #1c8835d2;
}

#fundoFoodCover {
    background-color: #1c8835d2;
}

.btnrounded {
    border-radius: 1rem;
}

.section {
    padding: 2rem 0;
}

ul {
    list-style-type: none;
}

.text-justify {
    text-align: justify;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  /*background-color: #eee;*/
  color: #444;
  cursor: pointer;
  /*padding: 18px;*/
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}