.nav-item {
    margin: 0 1rem;
}

a.nav-link.active {
    color: #22d64d !important;
}

#bannerTopo {
    background-image: url('../img/nutricionista.webp');
    background-attachment: fixed;
}

#fundoFood {
    background-image: url('../img/food.png');
    background-position: center;
    background-repeat: no-repeat;
}

#bannerTopoCover {
    background-color: #1c8835d2;
}

#fundoFoodCover {
    background-color: #1c8835d2;
}

.btnrounded {
    border-radius: 1rem;
}

.section {
    padding: 2rem 0;
}

ul {
    list-style-type: none;
}